body{
   background-color: brown;
   background-image: url('../images/family-album.jpg');
   background-attachment: fixed;
   background-size: 110vw;
   background-position: center;
   text-align: center;
   align-items: center;
}

.container{
}

.row{
   align-items: center;
   justify-items: center;
}

img{
   max-width: 100%;
   height: auto;
}

header{
   
}