body{
   background-color: rgb(137, 46, 46);
   background-image: url('../images/family-album.jpg');
   background-attachment: fixed;
   background-size: 110vw;
   background-position: center;
   text-align: center;
   align-items: center;
   font-size: 1rem;
   font-family: 'Source Serif Pro', serif;
   color: #f3aab9;
   position: relative;
   margin: 0;
   padding-top: 2%;
}

div.row{
   align-items: center;
   justify-items: center;
}

header img{
   max-width: 100%;
   height: auto;
   margin-bottom: 2%;
   border-radius: 0;
   opacity: 100%;
}

img{
   max-width: 70%;
   height: auto;
   border-radius: 50px;
   opacity: 100%;
   margin-bottom: 4%;
   box-shadow: 0 5px 10px 5px rgb(87, 7, 7); /*horizontal, vertical, blur, spread */
}

/* .img-flip:hover{
   transform: rotateY(359deg);
   transition: transform 2s;
  transform-style: preserve-3d;
} */

.img-hover:hover{
   opacity: 80%;
}

#navbar, footer{
   margin-bottom: 2%;
   font-family: 'Shrikhand', cursive;
   color:rgb(87, 7, 7);
}

h3, footer{
   background-image: linear-gradient(to right,rgba(255, 0, 198, 0.3), rgba(255, 95, 1, 0.3), rgba(2, 222, 255, 0.3), rgba(255, 255, 0, 0.3));
}

h1, h2, h3, h4, h5, h6, blockquote, footer{
   color: white;
}

h1{
   font-size: 2.5vw;
   margin: 0;
   color: rgba(255, 235, 205, 0.84);
}

h2{
   font-family: 'Berkshire Swash', cursive;
   font-size: 9em;
   margin: 0;
   padding: 0;
   text-shadow: -1px -1px 0 brown, 0 -1px 0 brown, 1px -1px 0 brown, 1px 0 0 brown, 1px 1px 0 brown, 0 1px 0 brown, -1px 1px 0 brown, -1px 0 0 brown;
}

h3{
   font-size: 2.5em;
   font-family: 'Shrikhand', cursive;
}

h6{
   font-size: 0.8em;
}

i{
   font-family: fontawesome;
}

em{
   font-weight: bold;
   font-style: normal;
}

p{
   font-size: 1.3em;
   padding-left: 2%;
   padding-right: 2%;
   padding-bottom: 3%;
   width: 60%;
   margin: 0 auto;
}

.rainbow-class{
   animation-name: rainbow;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   /* animation-delay: 2s; */
   animation-timing-function: ease-in;
}

@keyframes rainbow {
   0%   {color: #FF00C6;}
  25%  {color: #FF5F01;}
  50%  {color: #02DEFF;}
  100% {color: #FFFF00;}
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
   /* stuff */
}

blockquote{
   font-size: 2em;
   background-image: linear-gradient(to right,rgba(255, 0, 198, 0.3), rgba(255, 95, 1, 0.3), rgba(2, 222, 255, 0.3), rgba(255, 255, 0, 0.3));
   border-radius: 10px;
   transform: skew(-20deg);
   width: 80%;
   margin: 4% auto 4% auto;
   padding: 2%;
   margin-bottom: 4%;
}

#logo{
   font-size: 4em;
   color: blanchedalmond;
}

#pink-font{
   color: rgba(255, 235, 205, 0.84);
}

main{
   background-color: rgba(137, 46, 46, 0.658);
}

footer{
   padding: 4% 2% 2% 2%;
   margin-bottom: 0;
}

/* font-family: 'Berkshire Swash', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Shrikhand', cursive; */