body{
   background-color: rgb(169, 54, 54);
   background-image: url('../images/family-album.jpg');
   background-attachment: fixed;
   background-size: 110vw;
   background-position: center;
   text-align: center;
   align-items: center;
   font-size: 1rem;
   font-family: 'Shrikhand', cursive;
   color: rgba(255, 0, 196, 0.7);
   position: relative;
   color: rgb(58, 12, 12);
   
   margin: 0;
   padding: 0;
   
}

header div.row{
}

.row{
   align-items: center;
   justify-items: center;
}

img{
   max-width: 80%;
   height: auto;
   padding: 0;
   margin: 0;
}

p{
}

h1{
   font-size: 5vw;
   /* opacity: 0.9; */
   text-shadow:
    -1px -1px 0 black,
     0   -1px 0 black,
     1px -1px 0 black,
     1px  0   0 black,
     1px  1px 0 black,
     0    1px 0 black,
    -1px  1px 0 black,
    -1px  0   0 black; 
   -webkit-font-smoothing: antialiased;
   position: absolute;
   top: 50%;
   left: 0;
   right: 0;
   margin: 0 auto;
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
   //stuff
}

h2{
   font-family: 'Berkshire Swash', cursive;
   font-size: 9em;
   color: blanchedalmond;
   margin: -5px;
   padding: -5px;
   text-shadow:
    -1px -1px 0 black,
     0   -1px 0 black,
     1px -1px 0 black,
     1px  0   0 black,
     1px  1px 0 black,
     0    1px 0 black,
    -1px  1px 0 black,
    -1px  0   0 black;
}

h3{
   font-size: 0.8em;
}

#logo{
   font-size: 4em;
   color: blanchedalmond;
}

/* font-family: 'Berkshire Swash', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Shrikhand', cursive; */